*{
    margin: 0;
}
.container{
    background-color: rgb(236,240,241);
    display: flex;
    justify-content: space-around;
}
.container2{
    background-color: rgb(236,240,241);
    display: flex;
    width: 55px;
    padding: 20px 0 20px 0;
}
.box{
    color: white;
    width: 200px;
    padding: 20px;
    text-align: center;
    font-size: 1em;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}
.box1{
    background-color: rgb(29,208,173);
}
.box2{
    background-color: rgb(47,204,114);

}
.box3{
    background-color: rgb(52,152,219);
}
.box4{
    background-color: rgb(155,89,182);
}
.box5{
    background-color: rgb(52,73,94);
}
.box6{
    background-color: rgb(240,194,7);
}
.box7{
    background-color: rgb(230,126,34);
}
.box8{
    background-color: rgb(231,76,60);
}
.box9{
    background-color: rgb(149,165,166);
}
.box10{
    background-color: rgb(127,140,141);
}